.tips {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & div {
    border-radius: 8px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 12px;
    display: flex;
    height: 60px;
    align-items: center;

    & h2 {
      //margin-top: 4px;
      color: var(--primary);
      font-weight: 700;
      font-size: 32px;
    }

    & p {
      color: var(--headingColor);
      font-weight: 600;
      padding-left: 12px;
      //margin-top: 0;
    }
  }
}
