:root {
	--font: 'Inter', Arial, Helvetica, sans-serif;

	--shadow: 0px 4px 4px 0 hsla(0, 0%, 0%, 0.2);
	--shadow-hover: 0px 4px 6px 0 hsla(0, 0%, 0%, 0.25);

	--primary: #0779e4;
	--primary-900: #2395ff;
    
    --headingColor: #323F4B;

	// --primary: #0779e4;
	// --secondary: #2395ff;
}